
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --display-1-uppercase-semi-bold: Inter;
    --font-nunito-sans: 'Nunito Sans';
    
    /* font sizes */
    --font-size-lg: 1.125rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-21xl: 2.5rem;
    --display-1-uppercase-semi-bold-size: 0.75rem;
    
    /* Colors */
    --color-white: #fff;
    --color-gray-100: #fefefe;
    --color-gray-200: rgba(0, 0, 0, 0.05);
    --color-darkslategray: #344347;
    --neutral-colors-600: #c4b5c5;
    --neutral-colors-300: #f1f3f7;
    
    /* Gaps */
    --gap-xl: 1.25rem;
    --gap-mini: 0.937rem;
    
    /* Border radiuses */
    --br-5xs: 8px;
    
}